body {
  font-family: 'Open Sans',helvetica,arial,sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1.5em;
  margin: 0;
}

.top {
  background-color: #6c266f;
	background-image: url("/img/navbar_texture.gif");
	border-bottom-width: 12px;
	border-bottom-color: #2493b8;
	border-bottom-style: solid;
}

.top .title {
	font-family: "Aleo", serif;
	font-size: 28px;
  color: white;
	font-weight: 100;
	margin-left: 35px;
}

.top .title .brand {
	font-weight: 500;
}

.top a {
  text-decoration: none;
  color: white;
}

.top a:visited {
  color: white;
}

.top .navbar-nav li a, .top .navbar-nav li a:hover {
	color: white;
	font-size: 18px;
}
.top .navbar-nav li a:hover {
	text-decoration: underline;
}

.bottom {
  clear: both;
  min-height: 60px;
  text-align: center;
  border-top: 1px solid #ccc;
  font-size: 0.8em;
}

.visible {
  display: block !important;
}

/* toc = Table of Contents */

.toc {
  display: none;
  padding: 0 0 1em 0;
  margin: 0 0 1em 1em;
  min-width: 200px;
  position: absolute;
  right: 0;
  top: 55px;
}

.toc.page-list {
  position: static;
  display: block;
  float: left;
  width: 17em;
}

.toc.site-list {
  z-index: 2;
  background-color: white;
  border: 1px solid grey;
}

.toc h1 {
  padding-left: 12px;
}

.show-when-small {
  display: none;
}

@media (max-width: 1100px) {
  .show-when-small {
    display: inline;
  }

  .toc, .toc.page-list, .toc.site-list {
    display: none;
    position: absolute;
    right: 0;
    top: 55px;
    z-index: 2;
    background-color: white;
    border: 1px solid grey;
  }
}

.toc ul {
  margin-left: 20px;
  padding-left: 0;
  list-style-type: none;
}

.toc ul ul {
  margin-left: 3px;
  padding-left: 6px;
}

.toc li a {
  font-size: 11pt;
  padding: 1px 2px;
  text-decoration: none;

  display: block; /* fill the entire containing li */
}

.toc li a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.toc .current {
  font-weight: bold;
  padding: 1px 2px;
}

/**/

.main {
  position: relative;
  margin-left: 300px;
  margin-right: 20px;
  position: relative;
}

@media (max-width: 1100px) {
  .main {
    margin-left: 40px;
  }
}

.main h1.doc_title {
  margin-bottom: 1em;
  padding-bottom: .25em;
  border-bottom: 1px solid #ccc;
}

.doc {
  max-width: 50em;
}

.doc pre {
  background: #f2f2f2;
  padding: .5em 1em;
  font-size: 13pt;
  overflow-x: auto;
}

.doc code {
  font-size: 13pt;
  background: #f2f2f2;
  padding-left: 4px;
  padding-right: 4px;
}

.doc h1 {
  border-bottom: 2px solid #EEE;
}

.doc blockquote {
  margin: 0.5em 0 .5em 20px;
}

img {
  margin: auto;
  display: block;  /* otherwise centering doesn't happen */
}

.model-diagram {
  margin: 0 auto;
  border: 1px solid black;
  border-collapse: collapse;
}

.model-diagram th {
  background-color: lightblue;
}

.model-diagram td {
  padding: 0 5px;
  border: 1px solid black;
}

.horiz-line {
  position: absolute;
  height: 1px;
  border-bottom: 1px solid blue;
}

.vert-line {
  position: absolute;
  width: 1px;
  border-left: 1px solid blue;
}

.arrow-left {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;

  border-right:8px solid blue;
}

/* Clearfix */
.cf:before,
.cf:after {
  display: table;
  line-height: 0;
}

.cf:after {
  clear: both;
}

@media print {
  .toc, .top_links {
    display: none;
  }

  .top {
    padding-left: 0;
    margin-left: 20px;
    margin-bottom: 0;
    background-color: white;
  }

  .top .title {
    margin-left: 0;
    padding: 0;
		width: auto;
		display: inline;
  }

  .main {
    margin-left: 20px;
    font-size: 13px;
  }

  .doc pre {
    font-size: 10px;
    overflow-x: visible;
    background-color: white;
    border: 1px solid #ccc;
    page-break-inside: avoid;
  }
}
