body {
  font-family: 'Open Sans',helvetica,arial,sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1.5em;
  margin: 0;
}

.top {
  margin-bottom: 1em;
  padding: 2px 6px;
  background-color: black;
}

.top h1 {
  padding: 0.5em 0em 0.5em 1.4em;
  font-size: 1.4em;
  font-weight: normal;
  color: white;
}

.top a {
  text-decoration: none;
  color: white;
}

.top a:visited {
  color: white;
}

.bottom {
  min-height: 60px;
  text-align: center;
  border-top: 1px solid #ccc;
  font-size: 0.8em;
}

.visible {
  display: block !important;
}

/* toc = Table of Contents */

.toc {
  display: none;
  padding: 0 0 1em 0;
  margin: 0 0 1em 1em;
  min-width: 200px;
  position: absolute;
  right: 0;
  top: 55px;
}

.toc.page-list {
  position: static;
  display: block;
  float: left;
  width: 17em;
}

.toc.site-list {
  z-index: 2;
  background-color: white;
  border: 1px solid grey;
}

.toc h1 {
  padding-left: 12px;
}

.show-when-small {
  display: none;
}

@media (max-width: 1100px) {
  .show-when-small {
    display: block;
  }

  .toc, .toc.page-list, .toc.site-list {
    display: none;
    position: absolute;
    right: 0;
    top: 55px;
    z-index: 2;
    background-color: white;
    border: 1px solid grey;
  }
}

.toc ul {
  margin-left: 20px;
  padding-left: 0;
  list-style-type: none;
}

.toc li a {
  font-size: 11pt;
  padding: 1px 2px;
  /*border: 1px solid #e2f2f2;*/
  text-decoration: none;

  display: block; /* fill the entire containing li */
}

.toc li a:hover {
  border-color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.toc .current {
  font-weight: bold;
  padding: 1px 2px
}

.toc ul:not(:first-child) {
    margin-left: 3px;
    padding-left: 6px;
}

/**/

.main {
  position: relative;
  margin-left: 300px;
  margin-right: 20px;
  position: relative;
}

@media (max-width: 1100px) {
  .main {
    margin-left: 40px;
  }
}

.main h1.doc_title {
  margin-bottom: 1em;
  padding-bottom: .25em;
  border-bottom: 1px solid #ccc;
}

.doc {
  max-width: 50em;
}

.doc pre {
  background: #f2f2f2;
  padding: .5em 1em;
  font-size: 13pt;
  overflow-x: auto;
}

.doc code {
  font-size: 13pt;
  background: #f2f2f2;
  padding-left: 4px;
  padding-right: 4px;
}

.doc h1 {
  border-bottom: 2px solid #EEE;
}

.doc blockquote {
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: 20px;
  -webkit-margin-end: 0;
}

.top .top_links {
  float: right;
  margin-right: 8px;
}

.top a.top_link {
  float: right;
  margin: 2px;
  border: 1px solid #999;
  padding: 5px 10px 5px 10px;
  margin-top: 8px;
  margin-right: 15px;
  background-color: #555;
}

img {
  margin: auto;
  display: block;  /* otherwise centering doesn't happen */
}

/* Clearfix for bottom of page */
.bottom {
  clear: both;
  *zoom: 1;
}

.bottom:before, 
.bottom:after {
  display: table;
  line-height: 0;
}

.bottom:after {
  clear: both;
}



@media print {
  .toc, .top_links {
    display: none;
  }

  .top {
    padding-left: 0;
    margin-left: 20px;
    margin-bottom: 0;
    background-color: white;
  }

  .top h1 {
    margin-left: 0;
    padding: 0;
    font-weight: bold;
  }

  .top h1, .top h1 a, .top h1 a:visited {
    color: black;
  }

  .main {
    margin-left: 20px;
    font-size: 13px;
  }

  .doc pre {
    font-size: 10px;
    overflow-x: visible;
    background-color: white;
    border: 1px solid #ccc;
    page-break-inside: avoid;
  }
}