ul.flags {
  padding: 0;
  margin: 0;

  > li {
    position: relative;
    display: block;
    float: left;

    > a {
      position: relative;
      display: block;
      padding: 10px 15px;
      line-height: 20px;
    }

    > img:hover {
      background-color: #eee;
    }
  }

}
