.toc {
  display: none;
  padding: 0 0 1em 12px;
  margin: 0 0 1em 1em;
  min-width: 200px;
  position: absolute;
  right: 0;
  top: 55px;

  &.page-list {
    position: static;
    display: block;
    float: left;
    width: 17em;
  }

  ul {
    margin-left: 8px;
    padding-left: 0;
    list-style-type: none;

    ul {
      margin-left: 3px;
      padding-left: 6px;
    }
  }

  li a {
    font-size: 11pt;
    padding: 1px 0;
    text-decoration: none;

    display: block; /* fill the entire containing li */
  }

  li.collapsable {
    .toggler {
      cursor: pointer;
      display: inline-block;
      text-align: center;
      margin-right: 5px;
      font-size: 15px;
      color: black;

      .fa-plus-square-o {
        display: none;
      }
      .fa-minus-square-o {
        display: block;
      }
    }

    &.closed {
      ul {
        display: none;
      }
      .toggler {
        .fa-plus-square-o {
          display: block;
        }
        .fa-minus-square-o {
          display: none;
        }
      }
    }
  }

  li a:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .current {
    font-weight: bold;
  }

  .expand-all {
    i {
      margin-right: 5px;
    }
  }
}

@media (max-width: 768px) {
  .hidden-sm {
    display: none !important;
  }
}

.show-when-small {
  display: none !important;
}

@media (max-width: 1100px) {
  .show-when-small {
    display: block !important;
  }

  .toc, .toc.page-list {
    display: none;
    position: absolute;
    right: 0;
    top: 55px;
    z-index: 2;
    background-color: white;
    border: 1px solid grey;
  }
}

body.no-toc {
  .toc {
    display: none;
  }

  main {
    margin-left: 40px;
  }

  .show-when-small {
    display: none !important;
  }
}

@media print {
  .toc {
    display: none;
  }
}