$big_checkbox_size: 20px;

input.big_checkbox[type=checkbox] {
  display:none;
  + label {
    height: $big_checkbox_size;
    width: $big_checkbox_size;
    display:inline-block;
    padding: 2px;
    margin: 0 12px -8px 0;
    background-color: white;
    z-index: 2;
    border: 2px solid #dadada;

    &:hover {
      background-image: url(/img/check-dim.png);
      background-size: cover;
      cursor: pointer;
    }
  }

  &:checked {
    + label {
      background-image: url(/img/check.png);
      background-size: cover;
    }
  }
}
