ul.flags {
  min-width: 0;
  position: relative;

  > li {
    display: block;

    > a {
      position: relative;
      display: block;
      padding: 10px 14px;
      line-height: 20px;
    }

    > img:hover {
      background-color: #eee;
    }
  }
}
